<style
 
.div2{
    background-color: khaki;
     
}

.div3{
     background-color: rgb(31, 31, 77);
    color: white;
}
.div4{
     background-color: rgb(236, 150, 236);
     color: white;
}
.div5{
    background-color: rgb(231, 226, 226);
}
.div6 {
    background-color: rgb(250, 246, 211);
}