.div1 {
    background-color: red;
    color: aliceblue;
}

.el1{
    background-color: black;
    color: aliceblue;
}
#h1{
    background-color: blue;
    color: aliceblue;

}
span {
    background-color: lime;
}


.liste{
    color: #000;
}
.baş{
    background-color: hotpink;
    color: aliceblue;
}