.div1 {
    background-color: rgb(31, 31, 77);
    color: white;
}
.div2 {
    background-color: rgb(236, 150, 236);
    color: white;
}

.div4{
    background-color: rgb(231, 226, 226);
    color: black;
}